<div class="section brown lighten-5">
	<div class="container">
		<div class = "row white z-depth-5">
			<div class = "col s12 m6 l6">
				<h5 class="center-align teal-text" style="padding-top:15px"> Amrish Khanna Chandrasekaran </h5>
				<div class="divider"></div>
				<h6 class="center-align"> Software Development Engineer </h6>
				<img class="materialboxed responsive-img fill-image" src="images/amrish.jpg">
			</div>
			<div class = "col s12 m6 l6">
			<div style="padding-top:15px">
				<h5 class="teal-text">Personal Information</h5>
				<div class="divider"></div>
				<h6 class="teal-text">Email</h6>
				<h6>amrishkhanna.developer@gmail.com</h6>
				<div class="divider"></div>
				<h6 class="teal-text">Phone No</h6>			
				<h6>+1 682 559 3107</h6>
				<div class="divider"></div>
				<h6 class="teal-text">Follow me on</h6>			
				<a href="http://www.linkedin.com/in/amrishkhannac" class = "btn teal" target="_blank"><h6>LinkedIn</h6><a>
				<a href="https://github.com/AmrishKhanna" class = "btn teal" target="_blank"><h6>Github</h6><a>
				<br><br>
				<div class="divider"></div>
				
			</div>
		</div>
	</div>
</div>